<div class="headStyle master-margin-top">
  <i class="icon ion-md-warning"></i> Blacklist
</div>

<div class="container-fluid master-margin-top">

  <nb-card class="col-sm-12 col-md-12 col-lg-12 color1">
    <nb-card-body style="width:100%">
      <span class="col-lg-3 col-md-3 tagStyle">Project Manager</span>
      <span class="col-lg-3 col-md-3 tagStyle">Machine</span>
      <span class="col-lg-3 col-md-3 tagStyle">Project Name</span>
      <span class="col-lg-3 col-md-3 tagStyle">Operator</span>
    </nb-card-body>
  </nb-card>

</div>

<div class="headStyle">
  Selected Value
</div>

<div class="container-fluid master-margin-top">
  <nb-card class="noDataBar">
    <nb-card-body>
      No Records
    </nb-card-body>
  </nb-card>
</div>

<div class="row container-fluid align-all">

  <div class="row col-sm-12 col-md-12 col-lg-4 align-box">
    <nb-card class="col-sm-12 col-md-12 col-lg-12">
      <nb-card-body>
        <nb-user size="large" name="John Doe" title="">
        </nb-user>
        <i style="font-size: 32px;position: absolute;right: 0;top:27px"
          class="icon ion-md-arrow-dropright changePointer"></i>
      </nb-card-body>
    </nb-card>
  </div>

</div>

<div class="container-fluid" style="margin-bottom:15px">
  <button size="xsmall" title="prev page" nbButton outline status="warning" (click)="decPage()">
    <</button> <button size="xsmall" title=page style="margin-left: 10px;margin-right: 10px" nbButton status="warning">
      {{'0'}}
  </button>
  <button size="xsmall" title="next page" nbButton outline status="warning" (click)="incPage()">></button>
</div>
