<div class="headStyle master-margin-top">
  <i class="icon ion-md-cog"></i> Machine Detail
</div>

<div class="row container-fluid align-all master-margin-top">

  <div class="row col-sm-12 col-md-12 col-lg-4 align-box">
    <nb-card class="col-sm-12 col-md-12 col-lg-12">
      <nb-card-body>
        Name
      </nb-card-body>
      <nb-card-footer class="text-center">
        <div class="row margin-remove">
          <button nbButton status="danger" class="btnActive" hero size="xsmall">
            Active
          </button>
          <button nbButton status="info" class="btnRecord" hero size="xsmall">
            Record
          </button>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>

</div>

<div class="headStyle">
  <i class="icon ion-md-aperture"></i> Assigning
</div>

<div class="row container-fluid align-all master-margin-top">

  <div class="row col-sm-12 col-md-12 col-lg-6 align-box">
    <nb-card class="col-sm-12 col-md-12 col-lg-12 borderColor1">
      <nb-card-header class="managerHead">Manager</nb-card-header>
      <nb-card-body>
        <mat-form-field class="col-lg-12">
          <mat-label>Manager</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of projectArr" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </nb-card-body>
      <nb-card-footer style="text-align: center">
        <button nbButton status="info" class="col-lg-4 col-md-4 col-sm-12 marginAdj" hero size="xsmall"
          (click)="toggleLoadingAnimation()" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="small"
          nbSpinnerMessage="">
          Submit
        </button>
      </nb-card-footer>
    </nb-card>
  </div>



  <div class="row col-sm-12 col-md-12 col-lg-6 align-box">
    <nb-card class="col-sm-12 col-md-12 col-lg-12 borderColor2">
      <nb-card-header class="operaterHead">Operater</nb-card-header>
      <nb-card-body>
        <mat-form-field class="col-lg-12">
          <mat-label>Operater</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of projectArr" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </nb-card-body>
      <nb-card-footer style="text-align: center">
        <button nbButton status="warning" class="col-lg-4 col-md-4 col-sm-12 marginAdj" hero size="xsmall"
          (click)="toggleLoadingAnimation()" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="small"
          nbSpinnerMessage="">
          Submit
        </button>
      </nb-card-footer>
    </nb-card>
  </div>


</div>

<div class="headStyle">
    <i class="icon ion-md-list"></i> List
  </div>
  
  <div class="row container-fluid align-all master-margin-top">
  
    <div class="row col-sm-12 col-md-12 col-lg-6 align-box">
  
      <nb-card class="col-sm-12 col-md-12 col-lg-12 borderColor1 heightOf">
        <nb-card-header class="managerHead">Manager</nb-card-header>
        <nb-list>
          <nb-list-item *ngFor="let fruit of fruits">
            {{ fruit }}
            <i style="float:right" class="icon ion-md-close"></i>
          </nb-list-item>
        </nb-list>
      </nb-card>
  
    </div>
  
    <div class="row col-sm-12 col-md-12 col-lg-6 align-box">
  
      <nb-card class="col-sm-12 col-md-12 col-lg-12 borderColor2 heightOf">
        <nb-card-header class="operaterHead">Operater</nb-card-header>
        <nb-list>
          <nb-list-item *ngFor="let fruit of fruits">
            {{ fruit }}
            <i style="float:right" class="icon ion-md-close"></i>
          </nb-list-item>
        </nb-list>
      </nb-card>
  
    </div>
  </div>
  
  <div class="headStyle">
    <i class="icon ion-md-list"></i> Deactivated List
  </div>
  
  <div class="row container-fluid align-all master-margin-top">
  
    <div class="row col-sm-12 col-md-12 col-lg-6 align-box">
  
      <nb-card class="col-sm-12 col-md-12 col-lg-12 borderColor1 heightOf">
        <nb-card-header class="managerHead">Manager</nb-card-header>
        <nb-list>
          <nb-list-item *ngFor="let fruit of fruits">
            {{ fruit }}
            <i style="float:right" class="icon ion-md-undo"></i>
          </nb-list-item>
        </nb-list>
      </nb-card>
  
    </div>
  
    <div class="row col-sm-12 col-md-12 col-lg-6 align-box">
  
      <nb-card class="col-sm-12 col-md-12 col-lg-12 borderColor2 heightOf">
        <nb-card-header class="operaterHead">Operater</nb-card-header>
        <nb-list>
          <nb-list-item *ngFor="let fruit of fruits">
            {{ fruit }}
            <i style="float:right" class="icon ion-md-undo"></i>
          </nb-list-item>
        </nb-list>
      </nb-card>
  
    </div>
  </div>
  