@import "../../variables.scss";

.master-margin-top {
  margin-top: 15px;
}

.margin-remove {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.headStyle {
  font-size: 25px;
  font-weight: 600;
  margin-left: 15px;
  color: $sidebg-color
}

.align-all {
  padding-right: 0px;
}

.align-box {
  padding-right: 0px;
  @extend .margin-remove;
}

.tagStyle {
  font-weight: 600;
  display: inline-block;
  text-align: center;
}

.color1 {
  background: $sidebg-color;
  color: $yellow-zilla;
}

.heightOf{
    height:400px
}

.ImgStyle{
    width:100%;
    height: 290px;
    object-fit: cover;
}

.text-center{
    text-align:center;
}

.infoStyle{
    color:$red-zilla;
    text-align: center;
}

.borderColor1{
    border-top:5px solid $red-zilla;
}