// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;

// Small tablets (portrait view)
$screen-md: 768px;

// Tablets and small desktops
$screen-lg: 992px;

// Large tablets and desktops
$screen-xl: 1200px;

$sidebg-color :#231F20;

// colors
$white : #ffffff;
$light-gray : #D3D3D3;
$black : #000000;

// colorZilla
$yellow-zilla:#E5CA00;
$blue-zilla:#245B81;
$red-zilla:#BE1D2C;
$green-zilla:#3AA79D;