<div class="row container-fluid align-all master-margin-top">

  <div class="row col-sm-12 col-md-12 col-lg-3 align-box">

    <nb-card class="col-sm-12 col-md-12 col-lg-12 heightOf borderColor1">
      <nb-card-body>
        <span class="titleStyle">Project Manager</span>
        <span class="noStyle">234</span>
        <i class="icon ion-md-arrow-dropright arrowStyle"></i>
      </nb-card-body>
    </nb-card>

  </div>

  <div class="row col-sm-12 col-md-12 col-lg-3 align-box">

    <nb-card class="col-sm-12 col-md-12 col-lg-12 heightOf borderColor2">
      <nb-card-body>
        <span class="titleStyle">Machines</span>
        <span class="noStyle">341</span>
        <i class="icon ion-md-arrow-dropright arrowStyle"></i>
      </nb-card-body>
    </nb-card>

  </div>

  <div class="row col-sm-12 col-md-12 col-lg-3 align-box">

    <nb-card class="col-sm-12 col-md-12 col-lg-12 heightOf borderColor3">
      <nb-card-body>
        <span class="titleStyle">Projects</span>
        <span class="noStyle">45</span>
        <i class="icon ion-md-arrow-dropright arrowStyle"></i>
      </nb-card-body>
    </nb-card>

  </div>

  <div class="row col-sm-12 col-md-12 col-lg-3 align-box">

    <nb-card class="col-sm-12 col-md-12 col-lg-12 heightOf borderColor4">
      <nb-card-body>
        <span class="titleStyle">Operater</span>
        <span class="noStyle">60</span>
        <i class="icon ion-md-arrow-dropright arrowStyle"></i>
      </nb-card-body>
    </nb-card>

  </div>

</div>

<span class="headStyle">
  <i class="icon ion-md-cog"></i> Machine Info
</span>

<div class="row container-fluid align-all master-margin-top">

  <div class="row col-sm-12 col-md-12 col-lg-12 align-box">
    <nb-card class="col-sm-12 col-md-12 col-lg-12 color1">
      <nb-card-body style="width:100%">
        <span class="col-lg-3 col-md-3 tagStyle">Name</span>
        <span class="col-lg-3 col-md-3 tagStyle">Greased</span>
        <span class="col-lg-3 col-md-3 tagStyle">Noise</span>
        <span class="col-lg-3 col-md-3 tagStyle">Damage</span>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="row col-sm-12 col-md-12 col-lg-12 align-box">
    <nb-card class="col-sm-12 col-md-12 col-lg-12">
      <nb-card-body style="width:100%">
        <span class="col-lg-3 col-md-3 tagStyle">{{'Motors'}}</span>
        <span class="col-lg-3 col-md-3 tagStyle">{{'yes'}}</span>
        <span class="col-lg-3 col-md-3 tagStyle">{{'No'}}</span>
        <span class="col-lg-3 col-md-3 tagStyle">{{'yes'}}</span>
      </nb-card-body>
    </nb-card>
  </div>

</div>
