@import "../../variables.scss";

.master-margin-top {
  margin-top: 15px;
}

.margin-remove {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.align-all {
  padding-right: 0px;
}

.align-box {
  padding-right: 0px;
  @extend .margin-remove;
}

.heightOf {
  height: 150px;
}

.borderColor1 {
  border-left: 5px solid $blue-zilla;
}

.titleStyle {
  font-size: 18px;
  font-weight: 600;
}

.noStyle {
  display: block;
  position: absolute;
  bottom: 40px;
  font-size: 27px;
  font-weight: 600;
}

.arrowStyle {
  display: block;
  position: absolute;
  bottom: 40px;
  right: 15px;
  font-size: 27px;
  font-weight: 600;
}

.borderColor2 {
  border-left: 5px solid $red-zilla;
}

.borderColor3 {
  border-left: 5px solid $green-zilla;
}

.borderColor4 {
  border-left: 5px solid $yellow-zilla;
}

.headStyle {
  font-size: 25px;
  font-weight: 600;
  margin-left: 15px;
  color:$sidebg-color
}

.tagStyle{
    font-weight: 600;
    display:inline-block;
    text-align: center;
}

.color1{
    background: $sidebg-color;
    color:$yellow-zilla;
}