@import "../../variables.scss";

.master-margin-top {
  margin-top: 15px;
}

.margin-remove {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.align-all {
  padding-right: 0px;
}

.align-box {
  padding-right: 0px;
  @extend .margin-remove;
}

.headStyle {
  font-size: 25px;
  font-weight: 600;
  margin-left: 15px;
  color: $sidebg-color
}

.btnStyl {
  width: 49%
}


.btnProccess {
  @extend .btnStyl;
}

@media (max-width: $screen-sm) {
  .btnStyl {
    width: 100%
  }
}

.text-center {
  text-align: center;
}

.managerHead {
  text-align: center;
  color: $blue-zilla;
}

.borderColor1 {
  border-top: 5px solid $blue-zilla;
}

.heightOf {
  height: 400px
}
