<div class="headStyle master-margin-top">
  <i class="icon ion-md-nuclear"></i> Assign Project To Manager
</div>

<div class="row container-fluid align-all master-margin-top">

  <div class="row col-sm-12 col-md-12 col-lg-12 align-box">

    <nb-card class="col-sm-12 col-md-12 col-lg-12 borderColor1">
      <nb-card-body>
        <mat-form-field class="col-lg-6">
          <mat-label>Manager</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of projectArr" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-lg-6">
          <mat-label>Project</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of projectArr" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="row margin-remove flex-center">
          <button nbButton class="col-lg-2 col-md-2 col-sm-12 marginAdj" status="info" size="xsmall"
            (click)="toggleLoadingAnimation()" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="small"
            nbSpinnerMessage="">
            Initialize
          </button>

          <button nbButton status="success" class="col-lg-3 col-md-3 col-sm-12 marginAdj" hero size="xsmall"
            (click)="toggleLoadingAnimation()" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="small"
            nbSpinnerMessage="">
            Submit
          </button>

          <button nbButton class="col-lg-2 col-md-2 col-sm-12 marginAdj" style="background:#A9A9A9" size="xsmall"
            (click)="toggleLoadingAnimation()" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="small"
            nbSpinnerMessage="">
            Reset
          </button>
        </div>
      </nb-card-body>
    </nb-card>

  </div>

</div>


<div class="headStyle master-margin-top">
  <i class="icon ion-md-cog"></i> Assign Machine To Manager
</div>

<div class="row container-fluid align-all master-margin-top">

  <div class="row col-sm-12 col-md-12 col-lg-12 align-box">

    <nb-card class="col-sm-12 col-md-12 col-lg-12 borderColor2">
      <nb-card-body>
        <mat-form-field class="col-lg-6">
          <mat-label>Manager</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of projectArr" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-lg-6">
          <mat-label>Machine</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of projectArr" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="row margin-remove flex-center">
          <button nbButton class="col-lg-2 col-md-2 col-sm-12 marginAdj" status="info" size="xsmall"
            (click)="toggleLoadingAnimation()" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="small"
            nbSpinnerMessage="">
            Initialize
          </button>

          <button nbButton status="danger" class="col-lg-3 col-md-3 col-sm-12 marginAdj" hero size="xsmall"
            (click)="toggleLoadingAnimation()" [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="small"
            nbSpinnerMessage="">
            Submit
          </button>

          <button nbButton class="col-lg-2 col-md-2 col-sm-12 marginAdj" style="background:#A9A9A9" size="xsmall"
            (click)="toggleLoadingAnimation()" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="small"
            nbSpinnerMessage="">
            Reset
          </button>
        </div>
      </nb-card-body>
    </nb-card>

  </div>

</div>

<div class="headStyle master-margin-top">
  <i class="icon ion-md-person"></i> Assign Machine To Operator
</div>

<div class="row container-fluid align-all master-margin-top">

    <div class="row col-sm-12 col-md-12 col-lg-12 align-box">
  
      <nb-card class="col-sm-12 col-md-12 col-lg-12 borderColor3">
        <nb-card-body>
          <mat-form-field class="col-lg-6">
            <mat-label>Machine</mat-label>
            <mat-select>
              <mat-option *ngFor="let item of projectArr" [value]="item.value">
                {{item.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-lg-6">
            <mat-label>Operator</mat-label>
            <mat-select>
              <mat-option *ngFor="let item of projectArr" [value]="item.value">
                {{item.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="row margin-remove flex-center">
            <button nbButton class="col-lg-2 col-md-2 col-sm-12 marginAdj" status="info" size="xsmall"
              (click)="toggleLoadingAnimation()" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="small"
              nbSpinnerMessage="">
              Initialize
            </button>
  
            <button nbButton status="warning" class="col-lg-3 col-md-3 col-sm-12 marginAdj" hero size="xsmall"
              (click)="toggleLoadingAnimation()" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="small"
              nbSpinnerMessage="">
              Submit
            </button>
  
            <button nbButton class="col-lg-2 col-md-2 col-sm-12 marginAdj" style="background:#A9A9A9" size="xsmall"
              (click)="toggleLoadingAnimation()" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="small"
              nbSpinnerMessage="">
              Reset
            </button>
          </div>
        </nb-card-body>
      </nb-card>
  
    </div>
  
  </div>