@import "../../variables.scss";

.master-margin-top {
  margin-top: 15px;
}

.margin-remove {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inpStyle {
  width: 100%;
}

.text-center {
  text-align: center;
  color:$yellow-zilla
}
