<div style="position:relative;width: 100%;height: 100%;">
  <div class="child">
    <nb-card style="min-width: 335px;max-width: 400px;">
        <nb-card-header class="text-center">Register Project Manager</nb-card-header>
      <nb-card-body>
        <mat-form-field appearance="outline" class="inpStyle">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name">
          <mat-icon matSuffix>fingerprint</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="inpStyle">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email">
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>
        <mat-form-field class="inpStyle">
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <button nbButton status="warning" hero size="small" fullWidth (click)="toggleLoadingAnimation()"
                  [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="small" nbSpinnerMessage="">
            Submit
          </button>
      </nb-card-body>
    </nb-card>
  </div>
</div>
