<nb-layout>

  <nb-layout-header subheader>
    <a href="#" (click)="toggle()"><i style="font-size: 30px" class="icon ion-md-menu"></i></a>
  </nb-layout-header>

  <nb-sidebar responsive compactedBreakpoints>
    <ul class="list-group">
      <li routerLink={{routLink[i]}} class="list-group-item"
        [ngClass]="{'active': selectedItem == item}" title="{{item}}"
         *ngFor="let item of groups;let i = index"><i style="font-size: 16px;"
          class="{{icons[i]}}"></i>
        {{item}}</li>
    </ul>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>