@import "../variables.scss";

ul {
  background: $sidebg-color;
  padding-left: 0px !important;
  margin-top: 30px;

  li {
    background: $sidebg-color;
    color: $white;
    border: none;

    &:hover {
      border-left: 4px solid $blue-zilla;
      color: $yellow-zilla;
      cursor: pointer;
    }

    &:active {
      border-left: 4px solid $blue-zilla !important;
      background: $yellow-zilla !important;
      font-weight: 600;
      color: $white;
    }
  }
}

.active {
  border-left: 4px solid $blue-zilla !important;
  background: $yellow-zilla !important;
  font-weight: 600;
  color: $white;
}
