<div class="headStyle master-margin-top">
  <i class="icon ion-md-nuclear"></i> Project Name
</div>

<div class="container-fluid master-margin-top">
  <nb-card class="borderColor1">
    <nb-card-body>
      <input type="text" nbInput fullWidth status="success" placeholder="Search By Name" (keyup)="filter()"
        (keydown.backspace)="filter()" [(ngModel)]="nameFilter" name="nameFilter">
      <button style="margin-top: 10px; cursor: pointer;" (click)="filter()" size="xsmall" nbButton
        status="success">Search</button>
      <button style="margin-top: 10px;margin-left: 10px; cursor: pointer;" size="xsmall" (click)="reset()" nbButton
        status="primary">Reset</button>
    </nb-card-body>
  </nb-card>
</div>

<div class="container-fluid">
  <nb-card class="noDataBar">
    <nb-card-body>
      No Records
    </nb-card-body>
  </nb-card>
</div>

<div class="row container-fluid align-all">

  <div class="row col-sm-12 col-md-12 col-lg-4 align-box">
    <nb-card class="col-sm-12 col-md-12 col-lg-12">
      <nb-card-body>
        {{'Name'}}
        <i style="font-size: 32px;position: absolute;right: 0;top:12px"
          class="icon ion-md-arrow-dropright changePointer"></i>
      </nb-card-body>
    </nb-card>
  </div>

</div>

<div class="container-fluid" style="margin-bottom:15px">
  <button size="xsmall" title="prev page" nbButton outline status="success" (click)="decPage()">
    <</button> <button size="xsmall" title=page style="margin-left: 10px;margin-right: 10px" nbButton status="success">
      {{'0'}}
  </button>
  <button size="xsmall" title="next page" nbButton outline status="success" (click)="incPage()">></button>
</div>
