@import "../../variables.scss";

.master-margin-top {
  margin-top: 15px;
}

.margin-remove {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.align-all {
  padding-right: 0px;
}

.align-box {
  padding-right: 0px;
  @extend .margin-remove;
}

.headStyle {
  font-size: 25px;
  font-weight: 600;
  margin-left: 15px;
  color: $sidebg-color
}

.borderColor1 {
  border-left: 5px solid $green-zilla;
}

.noDataBar{
    background: $sidebg-color;
    font-size:15px;
    font-weight: 600;
    color:$yellow-zilla
}