<div class="headStyle master-margin-top">
  <i class="icon ion-md-document"></i> Machine Record
</div>

<div class="container-fluid master-margin-top">
  <nb-card class="boderColor1">
    <nb-card-body>
      <div class="machineHeadTitle">
        Name Of Machine
      </div>
      <input type="text" class="margin-bottom-adj" nbInput fullWidth placeholder="Search By Project Manager"
        (keyup)="filter()" (keydown.backspace)="filter()" [(ngModel)]="mangerFilter" name="managerFilter">
      <input type="text" class="margin-bottom-adj" nbInput fullWidth placeholder="Search By Project Name"
        (keyup)="filter()" (keydown.backspace)="filter()" [(ngModel)]="projectFilter" name="projectFilter">
      <input type="text" nbInput fullWidth placeholder="Search By Operater" (keyup)="filter()"
        (keydown.backspace)="filter()" [(ngModel)]="operaterFilter" name="operaterFilter">
      <button style="margin-top: 10px; cursor: pointer;" (click)="filter()" size="xsmall" nbButton
        status="success">Search</button>
      <button style="margin-top: 10px;margin-left: 10px; cursor: pointer;" size="xsmall" (click)="reset()" nbButton
        status="primary">Reset</button>
    </nb-card-body>
  </nb-card>
</div>

<div class="row container-fluid align-all master-margin-top">

  <div class="row col-sm-12 col-md-12 col-lg-12 align-box">
    <nb-card class="col-sm-12 col-md-12 col-lg-12 color1">
      <nb-card-body style="width:100%">
        <span class="col-lg-3 col-md-3 tagStyle">Project Manager</span>
        <span class="col-lg-3 col-md-3 tagStyle">Project Name</span>
        <span class="col-lg-3 col-md-3 tagStyle">Operator</span>
        <span class="col-lg-3 col-md-3 tagStyle">Created at</span>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="row col-sm-12 col-md-12 col-lg-12 align-box">
    <nb-card class="col-sm-12 col-md-12 col-lg-12">
      <nb-card-body style="width:100%">
        <span class="col-lg-3 col-md-3 tagStyle">{{'Name'}}</span>
        <span class="col-lg-3 col-md-3 tagStyle">{{'Name'}}</span>
        <span class="col-lg-3 col-md-3 tagStyle">{{'Name'}}</span>
        <span class="col-lg-3 col-md-3 tagStyle">{{'Date'}}</span>
      </nb-card-body>
    </nb-card>
  </div>

</div>


<div class="container-fluid">
  <nb-card class="noDataBar">
    <nb-card-body>
      No Records
    </nb-card-body>
  </nb-card>
</div>

<div class="container-fluid" style="margin-bottom:15px">
  <button size="xsmall" title="prev page" nbButton outline status="danger" (click)="decPage()">
    <</button> <button size="xsmall" title=page style="margin-left: 10px;margin-right: 10px" nbButton status="danger">
      {{'0'}}
  </button>
  <button size="xsmall" title="next page" nbButton outline status="danger" (click)="incPage()">></button>
</div>
