<div class="headStyle master-margin-top">
  <i class="icon ion-md-cog"></i> Create Machine
</div>

<div class="row container-fluid align-all master-margin-top">

  <div class="row col-sm-12 col-md-12 col-lg-12 align-box">

    <nb-card class="col-sm-12 col-md-12 col-lg-12 borderColor1">
      <nb-card-body>
        <mat-form-field class="col-lg-12">
          <input matInput placeholder="Name Of Machine">
        </mat-form-field>
        <div class="text-center">
          <button nbButton status="danger" class="col-lg-3 col-md-3 col-sm-12" hero size="xsmall"
            (click)="toggleLoadingAnimation()" [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="small"
            nbSpinnerMessage="">
            Submit
          </button>
        </div>
      </nb-card-body>
    </nb-card>

  </div>

</div>

<div class="headStyle master-margin-top">
  <i class="icon ion-md-nuclear"></i> Create Project
</div>

<div class="row container-fluid align-all master-margin-top">

  <div class="row col-sm-12 col-md-12 col-lg-12 align-box">

    <nb-card class="col-sm-12 col-md-12 col-lg-12 borderColor2">
      <nb-card-body>
        <mat-form-field class="col-lg-12">
          <input matInput placeholder="Name Of Project">
        </mat-form-field>
        <div class="text-center">
          <button nbButton status="success" class="col-lg-3 col-md-3 col-sm-12" hero size="xsmall"
            (click)="toggleLoadingAnimation()" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="small"
            nbSpinnerMessage="">
            Submit
          </button>
        </div>
      </nb-card-body>
    </nb-card>

  </div>

</div>

<div class="headStyle master-margin-top">
  <i class="icon ion-md-person"></i> Create Operator
</div>

<div class="row container-fluid align-all master-margin-top">

  <div class="row col-sm-12 col-md-12 col-lg-12 align-box">

    <nb-card class="col-sm-12 col-md-12 col-lg-12 borderColor3">
      <nb-card-body>
        <mat-form-field class="col-lg-12">
          <input matInput placeholder="Name Of Operator">
        </mat-form-field>
        <div class="text-center">
          <button nbButton status="warning" class="col-lg-3 col-md-3 col-sm-12" hero size="xsmall"
            (click)="toggleLoadingAnimation()" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="small"
            nbSpinnerMessage="">
            Submit
          </button>
        </div>
      </nb-card-body>
    </nb-card>

  </div>

</div>
