@import "../../variables.scss";

.master-margin-top {
  margin-top: 15px;
}

.margin-remove {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.headStyle {
  font-size: 25px;
  font-weight: 600;
  margin-left: 15px;
  color: $sidebg-color
}

.align-all {
  padding-right: 0px;
}

.align-box {
  padding-right: 0px;
  @extend .margin-remove;
}

.text-center{
    text-align: center;
}

.borderColor1{
    border-left: 5px solid $red-zilla;
}

.borderColor2{
    border-left: 5px solid $green-zilla;
}

.borderColor3{
    border-left: 5px solid $yellow-zilla;
}