<div class="headStyle master-margin-top">
  <i class="icon ion-md-person"></i> Operater Detail
</div>

<div class="row container-fluid align-all master-margin-top">

  <div class="row col-sm-12 col-md-12 col-lg-4 align-box">
    <nb-card class="col-sm-12 col-md-12 col-lg-12">
      <nb-card-body>
        Name
      </nb-card-body>
      <nb-card-footer class="text-center">
        <button nbButton status="warning" class="btnActive" hero size="xsmall">
          Active
        </button>
      </nb-card-footer>
    </nb-card>
  </div>

</div>

<div class="headStyle">
  <i class="icon ion-md-aperture"></i> Assigning
</div>

<div class="row container-fluid align-all master-margin-top">

  <div class="row col-sm-12 col-md-12 col-lg-6 align-box">
    <nb-card class="col-sm-12 col-md-12 col-lg-12 borderColor1">
      <nb-card-header class="machineHead">Machine</nb-card-header>
      <nb-card-body>
        <mat-form-field class="col-lg-12">
          <mat-label>Machine</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of projectArr" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </nb-card-body>
      <nb-card-footer style="text-align: center">
        <button nbButton status="danger" class="col-lg-4 col-md-4 col-sm-12 marginAdj" hero size="xsmall"
          (click)="toggleLoadingAnimation()" [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="small"
          nbSpinnerMessage="">
          Submit
        </button>
      </nb-card-footer>
    </nb-card>
  </div>

</div>

<div class="headStyle">
  <i class="icon ion-md-list"></i> List
</div>

<div class="row container-fluid align-all master-margin-top">

  <div class="row col-sm-12 col-md-12 col-lg-6 align-box">

    <nb-card class="col-sm-12 col-md-12 col-lg-12 borderColor1 heightOf">
      <nb-card-header class="machineHead">Active Machine</nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let fruit of fruits">
          {{ fruit }}
          <i style="float:right" class="icon ion-md-close"></i>
        </nb-list-item>
      </nb-list>
    </nb-card>

  </div>

  <div class="row col-sm-12 col-md-12 col-lg-6 align-box">

    <nb-card class="col-sm-12 col-md-12 col-lg-12 borderColor1 heightOf">
      <nb-card-header class="machineHead">Deactivate Machine</nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let fruit of fruits">
          {{ fruit }}
          <i style="float:right" class="icon ion-md-undo"></i>
        </nb-list-item>
      </nb-list>
    </nb-card>

  </div>

</div>
